<div>
    <canvas id="myChart"></canvas>
</div>

<div>
    <form action="/" method="POST">
        <label for="startDate" >Start Date</label>
        <input type="date" name="startdate" id="inputSD" placeholder="MM/DD/YYYY">
        <label name="ed">End Date</label>
        <input type="date" name="enddate" id="inputED" placeholder="MM/DD/YYYY">
        <button type="submit">Get data</button>
    </form>
</div>
<div>
    <table>
        <tr>
            <th>Highest exchange value</th>
            <th>Date</th>
        </tr>
        <tr>
            <td><%= highest.toFixed(2) %> €</td>
            <td><%= highestDate %></td>
        </tr>
        <tr>
            <th>Longest bearing</th>
            <th>From</th>
            <th>To</th>
        </tr>
        <tr>
            <td><%= bearings[0] %></td>
            <td id="from"></td>
            <td id="to"></td>
        </tr>
        <tr>
            <th>Invest Date</th>
            <th>Invest Price</th>
            <th>Sell Date</th>
            <th>Selling Price</th>
            <th>Profit</th>
        </tr>
        <tr>
            <td><%= investmentInfo[1] %></td>
            <td><%= investmentInfo[2].toFixed(2) %> €</td>
            <td><%= investmentInfo[3] %></td>
            <td><%= investmentInfo[4].toFixed(2) %> €</td>
            <td><%= investmentInfo[0].toFixed(2) %> €</td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var labels = [<%= labels %>];
    let labs = []
    labels.forEach(item => {
        let timeStamp = parseInt(item);            
        let toMill = timeStamp;
        let dateObj = new Date(toMill)
        let y = dateObj.toLocaleDateString("en-US", {timeZone: 'UTC'})
        labs.push(y)
    });

    var bearingLabels = [<%= bearings[1] %>,<%= bearings[2] %>]
    bearLabs = []
    bearingLabels.forEach(item => {
        let timeStamp = parseInt(item);            
        let toMill = timeStamp;
        let dateObj = new Date(toMill)
        let y = dateObj.toLocaleDateString("en-US", {timeZone: 'UTC'})
        bearLabs.push(y)
    })
        document.getElementById('from').innerHTML = bearLabs[0]
        document.getElementById('to').innerHTML = bearLabs[1]

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
                labels: labs,
                datasets: [{
                    type: 'bar',
                    backgroundColor: 'rgb(65,105,225)',
                    label: 'Bitcoin exchange rate',
                    data: [<%= values %>]
                }]
            
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
        });
</script>